// color
$colorBlack: #000;
$colorWhite: #fff;

// font
$fontFamilySatoshi: Satoshi sans-serif;
$fontFamilyInter: Inter sans-serif;

:host {
  width: 100%;
  background-color: $colorBlack;
  color: $colorWhite;
  display: flex;
  justify-content: center;
  padding: 30px 200px;
}

ul {
  list-style: none;
}

.footer {
  width: 100%;

  h1 {
    margin-bottom: 40px;
    font-family: $fontFamilySatoshi;
    color: $colorWhite;
    font-weight: 700;
    font-size: clamp(30px, 3vw ,45px);
    letter-spacing: 5px;
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 10px;
    font-family: $fontFamilySatoshi;
    color: $colorWhite;
    text-transform: uppercase;
    font-weight: 800;
    font-size: clamp(20px, 3vw ,30px);
    letter-spacing: 3px;
  }
  
  &__info {
    width: 100%;
    display: grid;

    li {
      margin-bottom: 10px;
      margin-right: 10px;
      font-family: $fontFamilySatoshi;
      color: $colorWhite;
      font-weight: 300;
    }
    
    &__social {
      list-style: none;
    
      a {
        display: flex;
        color: $colorWhite;
        font-family: $fontFamilyInter;
        font-weight: 400;
        position: relative;
        text-decoration: none;

        img{
          margin-right: 20px;
          max-width: 30px;
        }
      }
      
      &__link {
        display: flex;

        li img {
          max-width: 30px;
        }
      }
    }
  }
}
