<img src="{{ itemProduct.image }}" alt="buy item" />
<div class="info">
  <h3>{{ itemProduct.title }}</h3>
  <img src="../../../../assets/image/icon/delete.svg" alt="delete" (click)="Delate()">
  <p>Ціна: {{ itemProduct.price }} UAH</p>
  <p>Сума: {{ sumItem }} UAH</p>
  <div class="quantity">
    <span class="quantity__count" (click)="productCounter('minus')">-</span
    ><span>{{ itemProduct.counter }}</span
    ><span class="quantity__count" (click)="productCounter('plus')">+</span>
  </div>
</div>
