@import '_mixin.scss';
.type{
    grid-column: 3/4;
    grid-row: 4/5;
    display: grid;
    grid-gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
    padding: 20px;
    width: 100%;
    @include borderItem();
  
    &__container {
      --background-gradient: linear-gradient(178deg, #ffff33 10%, #3333ff);
      --darkgray: #434343;
      max-width: 200px;
      width: 100%;
  
      /* Custom Select wrapper */
      &__select {
        position: relative;
        display: flex;
        height: 3em;
        border-radius: 1.25em;
        overflow: hidden;
  
        select {
          /* Reset Select */
          appearance: none;
          outline: 10px red;
          border: 0;
          box-shadow: none;
          /* Personalize */
          flex: 1;
          padding: 0 1em;
          color: #fff;
          background-color: var(--darkgray);
          background-image: none;
          cursor: pointer;
  
          /* Remove IE arrow */
          &::-ms-expand {
            display: none;
          }
        }
  
        /* Arrow */
        &::after {
          content: '\25BC';
          position: absolute;
          top: 0;
          right: 0;
          padding: 1em;
          background-color: #81868b;
          transition: .25s all ease;
          pointer-events: none;
        }
  
        /* Transition */
        &:hover::after {
          color: #f39c12;
        }
      }
    }
  }