.title {
  font-size: 40px;
}

.info {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 60px;
}

aside {
  padding: 20px;

  span{
    font-weight: 500;
    font-style: italic;
  }
}

.info__sign-out {
  cursor: pointer;
}

article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button{
    margin-bottom: 20px;
  }
}
