@import '_mixin.scss';

// color
$colorBlack: #000;
$colorWhite: #fff;
$colorActive: #ea0606;

// font
$fontFamilySatoshi: Satoshi sans-serif;
$sizeWidth: 3vw;

header {
  background-color: $colorBlack;
  width: 100%;
}

nav {
  display: grid;
  grid-template-columns: 1fr 90px;
  justify-items: center;
  align-items: center;
}

.title {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 20px;

  img{
    margin: 0 20px;
    @include sizeClamp(max-width, 20px, $sizeWidth, 35px);
  }

  h1 {
    color: $colorWhite;
    font-family: $fontFamilySatoshi;
    font-weight: 700;
    font-size: clamp(30px, 3vw ,45px);
    letter-spacing: 5px;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style: none;

  li {
    margin-right: clamp(35px, 13vw ,300px);

    a {
      text-decoration: none;
      color: $colorWhite;
      font-family: $fontFamilySatoshi;
      font-size: clamp(10px, 3vw, 20px);
      font-weight: 400;

      &.active {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.5;
      }

      &:hover {
        color: rgb(106, 255, 193);
      }
    }
  }
}


.personal {
  display: flex;
  width: 100%;
  justify-content: center;
  
  img {
    @include sizeClamp(max-width, 25px, $sizeWidth, 48px);
    margin-right: 10px;
    cursor: pointer;
  }
}