<form novalidate [formGroup]="loginData" (ngSubmit)="onSubmit(loginData)">
  <img src="../../../assets/image/icon/close.svg" alt="close" (click)="SignOut()">
  <h1>Welcome</h1>
  <div>
    <h4>Login:</h4>
    <div class="user-data">
      <input
        type="text"
        placeholder="Login"
        formControlName="login"
        name="login" required
      />
      <p
        *ngIf="loginData.get('login')?.invalid && loginData.get('login')?.touched"
      >
        Поле обов'язкове для введення
      </p>
    </div>
  </div>
  <div>
    <h4>Password:</h4>
    <div class="user-data">
      <input
        #password
        type="password"
        placeholder="Password"
        formControlName="password"
        name="password" required
      />
      <p
        *ngIf="
          loginData.get('password')?.invalid && loginData.get('password')?.touched
        "
      >
        Поле обов'язкове для введення
      </p>
    </div>
  </div>
  <button type="submit" value="Click" [disabled]="loginData.invalid">
    Вхід
  </button>
</form>
