<section>
    <h1>Контакти</h1>
  
    <p>
      Повернути товар можна в сервісних відділах або в пунктах прийому повернень.
    </p>
  
    <p>
      Пункти прийому повернень не мають сервісних фахівців. Остаточне рішення щодо
      повернення товару буде прийнято після огляду товару фахівцем сервісу.
    </p>
  
    <p>
      Якщо в місті пролунає сигнал про тривогу, усіх відвідувачів попросять вийти
      з магазину та прямувати до найближчої захисної споруди чи укриття. Це
      робиться для вашої безпеки, оскільки будівля нашого магазину не є
      спеціальним укриттям.
    </p>
    
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d175899.19665841406!2d30.54698189366414!3d46.46009015868134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6318a0b864c43%3A0x129f8fe28cf2176c!2z0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1698321854850!5m2!1sru!2sua"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
      
  </section>