<form>
  <h4 for="brand">Бренд товару:</h4>
  <div class="inputbox">
    <div class="inputbox-content">
      <input
        type="text"
        id="brand" #input (keyup)="searchBrandTitle(input.value)"
        required
      />
      <label for="brands-img">Бренд товару:</label>
      <span class="underline"></span>
    </div>
  </div>
  <csa-select-type></csa-select-type>
</form>
  
<ul class="list-products">
  <li *ngFor="let item of items">
    <csa-item-product-admin [item]="item"></csa-item-product-admin>
  </li>
</ul>
