// color
$colorBlack: #000;
$colorWhite: #fff;

// font
$fontFamilyIntegral: Integral CF sans-serif;
$fontFamilySatoshi: Satoshi sans-serif;
$fontFamilyInter: Inter sans-serif;

/* reviews */
.reviews {
    display: flex;
    flex-direction: column;
    margin: 64px;
    padding: 20px;
    background-image: url("/assets/image/bg-reviews.jpg");
    background-size: cover;
  
    // h1 {
      //   color: $colorBlack;
      //   font-size: 50px;
      //   font-weight: 600;
      //   text-transform: capitalize;
      //   text-align: center;
      // }
      
      h1 {
        margin: 50px;
        color: #f5f5f5;
        text-align: center;
        font-size: 3em;
        font-family: $fontFamilyInter;
        letter-spacing: 0.1em;
        transition: 0.3s;
        text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
          1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
          5px 13px 15px black;
    }
    
    h1:hover {
      transition: 0.3s;
      transform: scale(1.1)translate(-5%, -5%);
      text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
        1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
        1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
    }

  
    ul{
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  
      li{
        max-width: 250px;
        width: 100%;
        margin: 0 30px 30px 0;
      }
    }
  }