@mixin gridTemplateList() {
    @media only screen and (min-width: 1024px) {
      grid-template-columns: 3fr 1fr;
    }
  
    @media only screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
  }
  