@import '_mixin.scss';
// color
$colorBlack: #000;
$colorWhite: #fff;

.shopping {
  padding: 32px 48px;
  background-color: #f7f7f7;

  h1 {
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}

.shopping__empty {
  h2 {
    margin-bottom: 48px;
    color: $colorBlack;
    font-size: 32px;
  }

  img {
    max-width: 560px;
  }

  p {
    margin: 21px 0;
    color: $colorBlack;
    font-size: 20px;
  }

  button {
    border: none;
    border-radius: 32px;
    padding: 5px 30px;
    background-color: $colorWhite;
    color: $colorBlack;
  }

  button:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }
}

.shopping__info {
  display: grid;
  @include gridTemplateList();
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  >div {
    border: 2px solid darkblue;
    border-radius: 32px;
    padding: 32px;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 360px;
    overflow: auto;

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(20, 20, 20, 0.5);
      background-color: #F5F5F5;
      border-radius: 10px;
    }

    &::-webkit-scrollbar {
      width: 10px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      color-stop(0, rgb(250, 250, 0)),
      color-stop(0.50, rgb(125, 125, 125)),
      color-stop(1, rgb(0, 0, 250)));
    }
  }
}

.shopping__info__item {
  h2 {
    font-size: 29px;
    color: $colorBlack;
    text-transform: capitalize;
  }

  button {
    border-radius: 32px;
    padding: 5px 30px;
    background-color: $colorWhite;
    color: $colorBlack;
    text-transform: capitalize;
  }

  button:hover {
    background-color: $colorBlack;
    color: $colorWhite;
  }
}