ul{
	display: flex;
	width: 265px;
	margin: 0 auto;
    list-style: none;
	
	li {
		padding: 0;
		font-size: 32px;
		margin: 0 3px;
		line-height: 1;
		color: lightgrey;
		text-shadow: 1px 1px #bbb;

		&.active{
			color: gold;
			text-shadow: 1px 1px #c60;
		}
	}

	&> li:before{
		content: '★';
	}
}